# Azure OIDC
AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_SUBSCRIPTION_ID=

# ACR
ACR_NAME=
ACR_LOGIN_SERVER=

# AKS
AKS_CLUSTER_NAME=
RESOURCE_GROUP=

# AWS
AWS_REGION=eu-west-1
AWS_ROLE_ARN=

# Snyk
SNYK_TOKEN=

# Application
KEYVAULT_URI=
ENVIRONMENT=dev
